$Color_Text: #FFFFFF;
$Color_Nav_BG: rgb(255, 255, 255, 0.04);
$Color_Nav_Line: #979797;

// ANIMATIONS
@keyframes selected {
	0% {scale: 1;}
	50% {scale: 1.05;}
	100% {scale: 1;}
}

@keyframes mobileSelected {
	0% {
		scale: 1;
		border: 3px;
	}
	50% {
		scale: 1.05;
		border: 12px;
	}
	100% {
		scale: 1;
		border: 3px;
	}
}

@keyframes openMobileMenuLinks {
	0% {right: -80%;}
	100% {right: 0%;}
}

@keyframes closeMobileMenuLinks {
	0% {right: 0%;}
	100% {right: -80%;}
}

.mainContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;

	.logo {
		display: block;
		width: 48px;
		height: 48px;
		margin-left: 5.6rem;
	}

	.menuMobile {
		display: none;
		cursor: pointer;
	}
}

.nav_container {
	display: flex;
	align-items: center;
	position: relative;
	width: 57.64%;
	height: 100%;
	background-color: $Color_Nav_BG;
	backdrop-filter: blur(15px);
	padding-left: 8.7vw;

	.line {
		position: absolute;
		left: -53.5%;
		width: 32.85vw;
		height: 1px;
		border: 1px solid $Color_Nav_Line;
		opacity: 0.25;
		z-index: 2;
	}

	a {
		display: flex;
		align-items: center;
		height: 100%;
		margin-right: 3.6vw;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-family: "Barlow Condensed", sans-serif;
		letter-spacing: 2.7px;
		color: $Color_Text; 

		span {
			font-weight: bold;
			margin-right: 0.7rem;
		}
	}

	.linkActive {
		border-bottom: 3px solid white;
		margin-top: 2.5px;
		animation: selected 0.5s;
	}

	.linkInactive {

		&:hover {
			border-bottom: 3px solid $Color_Nav_Line;
			margin-top: 2.5px;
		}
	}
}

@media (min-width: 1900px) {
	.nav_container {

		a {
			font-size: 2.2rem;
			letter-spacing: 2.36px;
			margin-right: 5vw;
		}
	}
}

@media (max-width: 1100px) {
	.mainContainer {
		.logo{
			margin-left: 4rem;
		}
	}
	
	.nav_container {
		justify-content: center;
		width: 58.62%;
		padding: 0rem;

		.line {
			display: none;
		}

		a {
			font-size: 1.4rem;
			letter-spacing: 2.36px;
			margin-right: 5vw;

			span {
				display: none;
			}

			&:last-child {
				margin: 0rem;
			}
		}
		
		
	}
}

@media (max-width: 680px) {
	.mainContainer {
		align-items: flex-start;

		.logo{
			width: 40px;
			height: 40px;
			margin: 2.5rem 0rem 0rem 2.5rem;
		}

		.menuMobile {
			display: block;
			position: absolute;
			right: 25px;
			top: 34px;
			cursor: pointer;
			z-index: 2
		}
	}

	.nav_container {
		position: absolute;
		right: -80%;
		width: 68vw;
		height: 100vh;
		flex-direction: column;
		row-gap: 2rem;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 15vh 0vw 0vh 8vw;
	
		a {
			width: 100%;
			height: 5%;
			font-size: 1.6rem;
			letter-spacing: 2.7px;
			margin: 0rem;
	
			span {
				display: block;
			}
		}
	
		.linkActive {
			border-bottom: 0px;
			border-right: 3px solid white;
			margin-top: 0px;
			animation: mobileSelected 0.5s;
		}
	
		.linkInactive {
			border-bottom: 0px;
			margin-top: 0px;

			&:hover {
				border-bottom: 0px;
				border-right: 3px solid $Color_Nav_Line;
				margin-top: 0px;

			}
		}
	}

	.openMobileMenu {
		animation: openMobileMenuLinks 1s forwards;
	}

	.closeMobileMenu {
		animation: closeMobileMenuLinks 1s forwards;
	}
}

