.homeMainContainer {
	min-width: 100%;
	min-height: 100%;
	background-image: url(../../public/img/home/background-home-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}